body{
  margin: 0%;
  padding: 0%;
}
.wrap{
  width: 80%;
  max-width: 1180px;
  margin: 0 auto;
}
header{
  background-image: url('../images/header.jpeg');
  background-size: cover;
  width: 100%;
  height: 400px;
  color: #333;
  margin-top: 0;
}
.navbar{
  z-index: 1;
  position: fixed;
}
h1{
 border-bottom: 5px solid aqua; 
 display: inline-block;
 margin: 0;
 padding: 0;
}
.title{
  text-align: center;
  position: relative;
  top: 150px;
}
.firstTitle{
  z-index: 2;
  opacity: 0;
  animation-name: title;
  animation-duration: 1s;
  /* 繧｢繝九Γ繝ｼ繧ｷ繝ｧ繝ｳ縺檎ｵゅｏ縺｣縺溘∪縺ｾ縺ｮ迥ｶ諷九ｒ菫晄戟 */
  animation-fill-mode: forwards;
}
@keyframes title{
  80%{
      opacity: 0.6;
  }
  100%{
      opacity: 1;
  }
}
.subTitle{
  font-size: 15px;
  letter-spacing: 42px;
  text-indent: 40px;
  margin: 0;
}
.secondTitle{
  font-size: 20px;
  margin:0;
  letter-spacing: 10px;
  position: relative;  
  top: 20px;
  opacity: 0;
  animation-name: secondtitle;
  animation-duration: 0.3s;
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
}
@keyframes secondtitle{
  80%{
      top: 10px;
      opacity: 0.6;
  }
  100%{
      top: 0px;
      opacity: 1;
  }
}


nav ul li{
  list-style: none;
  cursor: pointer;
  font-size: 20px;
}
nav ul li a{
 color: #fff; 
}
.container{
  display: block;
  width: 80%;
  margin: 20px auto;
}
.containerText h2{
  font-size: 20px;
}
.center{
  padding: 0 20px;
}
.containerText img{
display: block;
margin: 30px auto;
width: 150px;
height: 100px;

}
.about{
  background: black;
  color: #fff;
}
h2{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;  
}
.aboutContainer{
  display: block;
  width: 80%;
  margin: 0 auto;
}
.aboutContainer img{
  display: block;
  margin: 20px auto;
}
.aboutContainer dl{
  display: block;
  margin: 20px auto;
  max-width: 400px;
}
.aboutContainer dt{
  font-size: 20px;
  margin: 20px;
  text-align: center;
}
.aboutContainer dd{
  display: block;
  max-width: 400px;
}
.functionContainer{
  display: block;
  width: 80%;
  margin: 0 auto;
}
.functionContainer img{
  display: block;
  margin: 10px auto;
  max-width: 400px;
}
.functionContainer dl{
  display: block;
  margin: 20px auto;
  max-width: 400px;
}
.functionContainer dt{
  font-size: 20px;
  margin: 20px;
  text-align: center;
}
.functionContainer dd{
  display: block;
  max-width: 400px;
  margin: 20px auto;
}
.login p{
  display: block;
  margin: 10px auto;
}
.firstSentence{
  max-width: 400px;
}
.secondSentence{
  max-width: 300px;
}
.thirdSentence{
  text-align: center;
  
  cursor: pointer;
}

.login button{
  display: block;
  margin: 0 auto;
  text-align: center;
}
.containerText,.p_scroll,.f1_scroll,.f2_scroll,.firstSentence,.secondSentence{
  opacity: 0;
  position: relative;
  top: 30px;
}
.loginHead{
  opacity: 0;
  position: relative;
  bottom: 30px;
}
.thirdSentence{
  opacity: 0;
}
/* 譛蛻昴��大� */
.frImg{
  width: 200px;
  height: 200px;
  margin: 5px auto;
}
.frH{
  text-align: center;
  cursor: pointer;
}
.frH:hover::after {
  content: '[x]';
  font-size: 16px;
  color: rgb(194, 188, 188);
  margin-left: 4px;
}
.frA{
  text-align: center;
  cursor: pointer;
}